<div class="row mt-5">
    <div class="col-md-6 mx-auto ">
        <div class="card text-center">
          <div class="card-body">
              <form (submit)="onSubmitAddUser()">
                  <h1>Crear usuario</h1>
                  <div class="form-group">
                    <label>Correo:</label>
                    <input type="email" class="form-control"  placeholder="Correo" [(ngModel)]="email" name="email">
                  </div>
                  <div class="form-group">
                    <label>Contraseña:</label>
                    <input type="password" name="password" id="Contraseña" [(ngModel)]="password" class="form-control" placeholder="contraseña"  >
                  </div>
                  <input type="submit" value="Crear Usuario" class="btn btn-primary btn-block btn-lg">
              </form>
          </div>
        </div>
    </div>
</div>